@font-face {
    font-family: 'Integral CF';
    src: url('/assets/Fontspring-DEMO-integralcf-bold.otf');
    font-weight: 700;
    font-size: 64px;

}

* {
    margin: 0;
}

.promo-banner {
    padding: 9px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.promo-banner p {
    margin: 0;
    line-height: 1.5;
}

.promo-banner a {
    color: #FFFFFF;
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-left: 24px;
    font-family: 'satoshi', sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #F0F0F0;
}

.search-bar {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 30px;
    background: #F0F0F0;
    width: 600px;
}

.search-input {
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    color: #00000066;
    margin-left: 12px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.icon-container { 
    display: flex;
    gap: 14px
}

.icon {
   width: 30px;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 60%;
    padding-left: 60px;
}

.banner-content h1 {
    font-family: 'Integral CF', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-content p {
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #00000099;
    margin-bottom: 30px;
}

.shop-now {
    background-color: #000000;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 54px;
    border-radius: 64px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-now:hover {
    background-color: #333333;
}

.banner-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.stats {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px 0;
    margin: 30px 0; 
}

.stat-item {
    font-family: 'Satoshi', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 0 20px;
}

.stat-item p {
    font-family: 'Satoshi', sans-serif;
}

.brands {
    background-color: #000000;
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands img {
    margin: 25px 30px 25px 30px;

}


