.navbar {
    max-width: 1440px;
}

.navbar .navbar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    padding: 20px;
    margin-left: 50px;
}

.navbar .navbar-links {
    display: flex;
    align-items: center;
}

.navbar .navbar-links li {
    margin: 0 20px;
}

.navbar .navbar-links a {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.navbar .navbar-links a:hover {
    color: #333333;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 30px;
    background: #F0F0F0;
    width: 50%;
}

.navbar .search-input {
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    color: #00000066;
    margin-left: 12px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.navbar .search-input::placeholder,
.navbar .search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.navbar .icon-container { 
    display: flex;
    gap: 14px;
    margin-left: 10px;
}

.navbar .icon {
   width: 30px;
}